/******************************************************************
 *********************    access  start    ************************
 ******************************************************************/

#access {
  /*color: #ffffff;*/
  height: 1500px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size:30px;
}

#access .container img {
  width: 40%;
  margin: 0 auto;
  float: left
}

/******************************************************************
 *********************    access  end    **************************
 ******************************************************************/
