/******************************************************************
 *********************    access  start    ************************
 ******************************************************************/

#access {
  color: #ffffff;
  height: 750px;
}

#access .container img {
  width: 50%;
  margin: 0 auto;
}

/******************************************************************
 *********************    access  end    **************************
 ******************************************************************/
