/******************************************************************
 *********************    access  start    ************************
 ******************************************************************/

#access {
  /*color: #ffffff;*/
  height: 2200px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size:30px;
}

#access li {
  font-family: Hiragino Kaku Gothic Std;
}

#access .map_img {
  display: block;
  width: 70%;
  margin: auto;
}

#access .map_img p {
  font-size: 20px;
  font-family: Hiragino Kaku Gothic Std;
  padding-bottom: 10px;
}

#access img {
  border-radius: 30px;
  border: 5px solid rgba(255, 79, 2, 1.0);
  width: 70%;
  margin: auto;
}


/******************************************************************
 *********************    access  end    **************************
 ******************************************************************/
