#ar_url {
  margin-top: 80px;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  /*border-bottom: 5px solid rgba(240, 240, 0, 0.9);*/
  z-index : 90;
  cursor : pointer;
}

#ar_url a{
	  display: block;
	  text-align: center;
  	line-height: 100px;
  	font-size: 20px;
  	font-family : serif;
  	cursor : pointer;
}
