/******************************************************************
 *********************    movie  start    *************************
 ******************************************************************/

#movie {
  height: auto;
  /*
  background-color: rgba(255, 255, 255, 0.7);
  */
  padding: 40px 0px;
}

#movie .movie-wrapper {
  position: relative;
  width: 80vw;
  margin: auto;
  padding-top: 56.25%;
  overflow: hidden;
}
#movie .movie-wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  border-radius: 7px;
}

  @media(min-width:800px){/*ここからレスポンシブデザイン*/
    .movie-text{
      box-sizing: border-box;
      width:50%;
      float:left;
    }
    .movie-text h2 {/*高さiframeに合わせ中央に寄せたほうがきれい*/
      display:block;
      padding-top: 50px;
      padding-bottom:50px;
      margin: 10px;
      background-color: #888;/*色変えたほうがいいかも*/
      text-align: center;
    }
    .movie-wrapper iframe{
      max-height:50%;
    }
    .movie-clear{
      clear:left;/*Progateのclear技*/
    }
  }



/******************************************************************
 *********************    movie  end    ***************************
 ******************************************************************/
