/******************************************************************
 *********************    movie  start    *************************
 ******************************************************************/

#movie {
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
}

#movie h1 {
  font-family: cursive;
  font-size: 54px;
}

#movie .movie-wrapper {
  position: relative;
  width: 80vw;
  margin: auto;
  padding-top: 56.25%;
  overflow: hidden;
}
#movie .movie-wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  border-radius: 7px;
}




/******************************************************************
 *********************    movie  end    ***************************
 ******************************************************************/
