/******************************************************************
 *********************    special  start    ***********************
 ******************************************************************/

#special {
  height: 750px;
}

#special .sp_link {
  overflow: hidden;
}

#special .sp_img_link {
  display: block;
  border: 1px solid #CCC;
  border-radius: 10px;
  position: relative;
  left: 100px;
  top: 100px;
  height: 30vh;
  overflow: hidden;

  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#special .sp_img_link:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/******************************************************************
 *********************    special  end    *************************
 ******************************************************************/
