/******************************************************************
 *********************    special  start    ***********************
 ******************************************************************/

#special {
  cursor: default;
  height: 750px;
  background-color: rgba(255, 213, 236, 0.7);
}


#special .sp_link {
  display: block;
  /*margin-left: 10px;*/
  /*overflow: hidden;*/
}

#special .sp_res {
  display: block;
  float: left;
  width: 50%;
}

#special .sp_img_link {
  border: 1px solid #CCC;
  border-radius: 100%;
  opacity: 0.85;
  height: 30vh;
  overflow: hidden;
  background-color: #fff;

  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#special .sp_img_link:hover {
  opacity: 1.0;
}

#special .sp_img_link:active {
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

element {
 --bgclr: #00ff00;
}

.preparing {
  color: var(--bgclr);
  width: 100vw;
  text-align: center;
}
/******************************************************************
 *********************    special  end    *************************
 ******************************************************************/
