/******************************************************************
 *********************    special  start    ***********************
 ******************************************************************/

#special {
  cursor: default;
  height: 1800px;
  background-color: rgba(255, 213, 236, 0.5);
}

#special h2 {
  font-style: italic;
}

#special .sp_link {
  display: block;
}

#special .sp_res {
  display: block;
  float: left;
  width: 50%;
}

#special .sp_text {
  height: 30vh;
  font-size: 20px;
  font-family: Hiragino Kaku Gothic Std;
}

#special .sp_img_link {
  border: 1px solid #CCC;
  border-radius: 100%;
  opacity: 0.85;
  height: 30vh;
  overflow: hidden;
  background-color: #fff;

  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#special p {
  background: #0F0;
}

#special .sp_intro {
  background: #00F;
  font-size: 20px;
  font-family: Hiragino Kaku Gothic Std;
}

#special .sp_img_link:hover {
  opacity: 1.0;
}

#special .sp_img_link:active {
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#special .circles {
  padding: 10px 0px;
  width: 100%;
  background: #F00;
}

#special .circles .circle {

  float: left;
  width: 25%;
}

#special .circles .circle p {
  font-family: Hiragino Kaku Gothic Std;
}

.sp_clear {
  clear: left;
}

@@media (max-width: 1000px) {

  #special .sp_res {
    width: 100%;
  }

  #special .circles .circle {
    width: 50%;
  }

  .sp_clear {
    clear: left;
  }

}
/******************************************************************
 *********************    special  end    *************************
 ******************************************************************/
