/******************************************************************
 *********************    story  start    *************************
 ******************************************************************/
#story {
    height: 750px;
  	background-image: url("../images/Story-img.png");
	background-size: 80vw;
    background-repeat: no-repeat;
    background-position-x: 50%;
    z-index: 10;
}


/******************************************************************
 *********************    story  end    ***************************
 ******************************************************************/
