/******************************************************************
 *********************    body  start    **************************
 ******************************************************************/

body {
	color: #ffffff;
  background-image: url("../images/bg_img2.jpg");
  background-position-x: 50%;
  background-position-y: 10%;
  background-size: 100vw;
  background-attachment: fixed;
  /*background-repeat: no-repeat;*/
  width: 100vw;
  /*background-repeat: no-repeat;*/
}

/******************************************************************
 *********************    body  end    ****************************
 ******************************************************************/

 element {
 	--bgclr: #00ff00;
 }

 .preparing {
   color: var(--bgclr);
   width: 100vw;
   text-align: center;
 }
