/******************************************************************
 *********************    body  start    **************************
 ******************************************************************/

body {
	color: #000000;
  background-image: url("../images/background.png");
  /*background-position-x: 50%;
  background-position-y: 10%;*/
  background-size: 100% auto;
  background-attachment: fixed;
  /*background-repeat: no-repeat;*/
  /*width: 100vw;*/
}

/******************************************************************
 *********************    body  end    ****************************
 ******************************************************************/
