/******************************************************************
 *********************    top  start    ***************************
 ******************************************************************/
#top {
  padding: 40px 0px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
}
/*
#top h1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}*/

@media only screen and (max-width: 1000px) {
	#slide-wrap {
	  text-align: center;
	  width: 100vw;
	  margin: auto;
	  padding: 0;
	}

	#slide-wrap ul{
	  width: 100%;
	  padding: 0;
	}

	.slide {
	  width: 100%;
	  text-align: center;
	  display: none;
	  list-style: none;
	}

	.slide img {
	  width: 100%;
	  text-align: center;
	  overflow: hidden;
	}
}
@media only screen and (min-width: 1000px) {
	#slide-wrap {
	  height: 80vh;
	  text-align: center;
	  margin: auto;
	  padding: 0;
	}

	#slide-wrap ul{
	  height: 100%;
	  padding: 0;
	}

	.slide {
	  height: 100%;
	  text-align: center;
	  display: none;
	  list-style: none;
	}

	.slide img {
	  height: 100%;
	  text-align: center;
	  overflow: hidden;
	}
}
/*.index-btn-wrapper {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.index-btn {
  display: inline-block;
  color: #4e90af;
  background-color: #e0f5ff;
  width: 40px;
  margin: 0 20px;
  border-radius: 10px;
  cursor: pointer;
}

.index-btn:hover {
  color: #fff;
  background-color: #5cabd0;
}*/


/******************************************************************
 *********************    top  end    *****************************
 ******************************************************************/
