/******************************************************************
 *********************    top  start    ***************************
 ******************************************************************/
#top {
  height: auto;
}
/*
#top h1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}*/

#slide-wrap {
  width: auto;
  margin: 0;
  padding: 0;
}
 
.slide {
  width: auto;
  margin: 0;
  display: none;
  list-style: none;
}
 
.slide img {
  top: 0;
  left: 0;
  width: 100vw;
  margin: auto;
  overflow: hidden;
}

/*.index-btn-wrapper {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.index-btn {
  display: inline-block;
  color: #4e90af;
  background-color: #e0f5ff;
  width: 40px;
  margin: 0 20px;
  border-radius: 10px;
  cursor: pointer;
}

.index-btn:hover {
  color: #fff;
  background-color: #5cabd0;
}*/


/******************************************************************
 *********************    top  end    *****************************
 ******************************************************************/
