/******************************************************************
 *********************    vote  start    **************************
 ******************************************************************/

#vote {
  cursor: default;
  /*height: 750px;*/
  background-color: rgba(255, 255, 255, 0.7);
}

#vote .qr_code {
  margin-left: 20px;
  background-color: #ffffff;
  width: 135px;
}

#vote .container {
  font-family: Hiragino Kaku Gothic Std;
}

@media(max-width: 450px){
  #vote .qr_message {
    text-align: center;
  }
  #vote .qr_code {
    margin: 0 auto;
  }
}

/******************************************************************
 *********************    vote  end    ****************************
 ******************************************************************/
