/******************************************************************
 *********************    vote  start    **************************
 ******************************************************************/

#vote {
  cursor: default;
  height: 750px;
  background-color: rgba(255, 255, 255, 0.7);
}



#vote .qr_code {
  background-color: #ffffff;
  width: 135px;
}

/******************************************************************
 *********************    vote  end    ****************************
 ******************************************************************/
