body {
	color : #ffffff;
}

/******************************************************************
 *********************    header  start    ************************
 ******************************************************************/

header a {
	display: block;
}

header .menulists li {
	transition: all 0.4s;
  list-style: none;
  float: left;
  background-color: rgba(64, 64, 64, 0.5);
  line-height: 75px;
  align-items: center;
  font-size: 20px;
  font-family : serif;
  width: 110px;
  height: 75px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 1);
  position: relative; top: -20px; right : 0px;
  cursor : pointer;
}
header .menulists li:hover {
  background-color: rgba(96, 96, 96, 1);
}

header .menulists {
    float: right;
    padding-right: 40px;
    font-size: 20px;
    line-height: 55px;
}

header {
  height: 75px;
  width: 100%;
  background-color: rgba(128, 128,128, 0.5);
  border-bottom: 5px solid rgba(240, 240, 0, 0.9);
  position : fixed;
  top : 0;
  left: 0;
  z-index : 100;
}

header .header-top {
  transition: all 0.4s;
  height: 75px;
  float: left;
  padding: 0px 30px 0px 30px;
  font-size: 35px;
  background-color: rgba(32, 32, 32, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 1);
  font-family : serif;
  cursor : pointer;
  align-items: center;
  line-height: 75px;
}

header .header-top:hover {
  background-color: rgba(128, 128, 128, 1);
}

header .header-top a {
  text-decoration: none;
  color: #ffffff;
}

header .menulists a {
  text-decoration: none;
  color: #ffffff;
}

header #toggle {
  display: none;
}

.active {
	/*border-top: 5px solid rgba(255, 0, 0, 1);*/
	transition: all 0.3s;
	transform: rotate(-10deg);
	font-size: 25px;
	color: rgba(255, 0, 0, 1);
	/*transform-origin: top right;*/
}

/* ここからレスポンシブデザイン1000px */
@media only screen and (max-width: 1000px) {

  .header-top {
    display: none;
  }

  header .menulists {
    display: none;
    padding-right: 0px;
    /*width: 100vw;*/
    /*height: 75px;*/
  }

  header .menulists li {
    width: 100vw;
    background-color: rgba(128, 128, 128, 1);
    border-bottom: 1px solid #000000;
  }

  header .header-top:hover{
    background-color: rgba(160, 160, 160, 1);
  }

  header #toggle {
    display: block;
    position: relative;
    width: 100%;
    background-color: rgba(96, 96, 96, 1);
    font-size: 30px;
    font-family : serif;
  }

  header #toggle a {
    display: block;
    position: relative;
    padding: 12px 0 10px;
    /*border-bottom: 1px solid #000000;*/
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-decoration: none;
    height: 52px;
  }

  header #toggle a:before {
    margin-top: -6px;
  }

  header #toggle a:after {
    margin-top: 2px;
  }

  header #toggle .top_responsive {
    float: left;
    border-right: 1px solid #000000;
    text-align: center;
    width: 100px;
    z-index : 50;
  }

  header #toggle .top_responsive:hover {
    font-size: 35px;
  }

  header #toggle .menu_responsive {
    margin-left: 100px;
  }

  header #toggle .menu_responsive:hover {
    font-size: 35px;
  }

}
/*ここまでレスポンシブデザイン1000px*/

/* ここからレスポンシブデザイン600px */
@media only screen and (max-width: 600px) {

	header {
	  height: 10vh;
	  width: 100%;
	  background-color: rgba(128, 128,128, 0.5);
	  border-bottom: 5px solid rgba(240, 240, 0, 0.9);
	  position : fixed;
	  top : 0;
	  left: 0;
	  z-index : 100;
	}
  header .header-top {
    display: none;
  }

  header .menulists {
    display: none;
    padding-right: 0px;
		height: 10vh;
  }

  header .menulists li {
    width: 100vw;
    background-color: rgba(128, 128, 128, 1);
    border-top: 1px solid #00ff00;
		height: 10vh;
  }

  header .header-top:hover{
    background-color: rgba(160, 160, 160, 1);
  }

  header #toggle {
    display: block;
    position: relative;
    width: 100%;
    background-color: rgba(96, 96, 96, 1);
    font-size: 30px;
    font-family: serif;
		height: 10vh;
  }

  header #toggle a {
    display: block;
    position: relative;
    /*padding: 12px 0 10px;*/
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-decoration: none;
		height: 10vh;
  }
	/*
  header #toggle a:before {
    margin-top: -6px;
  }

  header #toggle a:after {
    margin-top: 2px;
  }
	*/
  header #toggle .top_responsive {
    float: left;
    border-right: 1px solid #000000;
    text-align: center;
    width: 100px;
    z-index : 50;
    transition: all 0.4s;
    height: 10vh;
  }

  header #toggle .top_responsive:hover {
    font-size: 35px;
    transition: all 0.4s;
  }

  header #toggle .menu_responsive {
    margin-left: 100px;
    transition: all 0.4s;
		height: 10vh;
		/*border-bottom: 1px solid #ff0000;*/
  }

  header #toggle .menu_responsive:hover {
    font-size: 35px;
    transition: all 0.4s;
  }
}
/*ここまでレスポンシブデザイン600px*/

/******************************************************************
 *********************    header  end    **************************
 ******************************************************************/

/******************************************************************
 *********************    top  start    ***************************
 ******************************************************************/
#top {
  height: 750px;
}
/******************************************************************
 *********************    top  end    *****************************
 ******************************************************************/

/******************************************************************
 *********************    story  start    *************************
 ******************************************************************/
  #story {
    height: 750px;
  	background-image: url("./images/Story-img.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 50%;
    z-index: 10;
  }
/******************************************************************
 *********************    story  end    ***************************
 ******************************************************************/

/******************************************************************
 *********************    movie  start    *************************
 ******************************************************************/

#movie {
  height: 750px;
}

/******************************************************************
 *********************    movie  end    ***************************
 ******************************************************************/

/******************************************************************
 *********************    START AR    *****************************
 ******************************************************************/

#ar *
{
    box-sizing: border-box;
    /*
    display: block;
    */
}

/***********ここ以下(AR)はJavaScript上でも実装している(削除可能）*******/
#ar .container
{
    /*width: 100%;
    */
    text-align: center;
    /*
    margin: 20px;
    */
    padding: 20px;
    background-color: rgba(95, 168, 160, 0.5);
}

/* #ar .container .block0 */
#ar .block0
{
    width: calc( (100% - 20px - 20px)/2);
    text-align: center;
    float: left;
    margin: 10px;
    padding: 10px;
}
/* #ar .container .clear0.left */
#ar .clear0.left
{
    clear: left;
}

/* #ar .container .block0.blue */
#ar .block0.blue
{
    background-color: rgba(174, 232, 246, 0.6);
}

/* #ar .container .block0.green */
#ar .block0.green
{
    background-color: rgba(0, 255, 0, 0.6);
}

/* #ar .container .block0 .block1 */
#ar .block1
{
    width: calc((100% - 10px - 10px)/2);
    float: left;
    margin: 5px;
    padding: 5px;
}

#ar .end
{
    clear: both;
}


@media only screen and (max-width: 1000px) {
    /* #ar .container .block0 */
    #ar .block0
    {
        width: calc( 100% - 20px - 20px );
    }
}
@media only screen and (max-width: 670px) {
    /* #ar .container .block0 */
    #ar .block0
    {
        width: calc( 100% - 10px - 10px );
    }
    /* #ar .container .block0 .block1 */
    #ar .block1
    {
        width: calc( 100% - 5px - 5px );
    }
    /* #ar .container .block0 .clear1.left */
    #ar .clear1.left
    {
        clear: left;
    }
}
/******************************************************************
 *********************      AR  end     ***************************
 ******************************************************************/

/******************************************************************
 *********************    access  start    ************************
 ******************************************************************/

#access {
  color: #ffffff;
  height: 750px;
}

#access .container img {
  width: 50%;
  margin: 0 auto;
}

/******************************************************************
 *********************    access  end    **************************
 ******************************************************************/

/******************************************************************
 *********************    special  start    ***********************
 ******************************************************************/

#special {
  height: 750px;
}

/******************************************************************
 *********************    special  end    *************************
 ******************************************************************/

/******************************************************************
 *********************    vote  start    **************************
 ******************************************************************/

#vote {
  height: 750px;
}

/******************************************************************
 *********************    vote  end    ****************************
 ******************************************************************/

/******************************************************************
 *********************    others  start    ************************
 ******************************************************************/

#others {
  height: 750px;
}

/******************************************************************
 *********************    others  end    **************************
 ******************************************************************/

/******************************************************************
 *********************    body  start    **************************
 ******************************************************************/

body {
  background-image: url("./images/bg_img2.jpg");
  background-position-x: 50%;
  background-position-y: 10%;
  background-size: 100vw;
  background-attachment: fixed;
  /*background-repeat: no-repeat;*/
  width: 100vw;
  /*background-repeat: no-repeat;*/
}

/******************************************************************
 *********************    body  end    ****************************
 ******************************************************************/

 element {
 	--bgclr: #00ff00;
 }

 .preparing {
   color: var(--bgclr);
   width: 100vw;
   text-align: center;
 }
