/**************************************************************************
****************                header            *************************
***************************************************************************/

header .menulist {
  list-style: none;
  float: left;
  /*padding-left: 40px;*/
  background-color: rgba(0, 255, 0, 0.5);
  line-height: 55px;
  font-size: 20px;
  margin-left: 10px;
  font-family : serif;
  width: 100px;
  text-align: center;
}

header .menulists {
    float: right;
    /*background-color: #0000ff;*/
    padding-right: 40px;
    font-size: 20px;
    line-height: 55px;
}

header {
  height: 75px;
  width: 100%;
  background-color: rgba(128, 128,128, 0.5);
  color: #ff0000;
  position : fixed;
  top : 0;
  z-index : 100;
}

#top {
  margin-top: 75px;
}

header .header-top {
  float: left;
  padding: 10px 30px 10px 20px;
  font-size: 35px;
  background-color: rgba(0, 255, 0, 0.0);
  font-family : serif;
}

header .header-top a {
  text-decoration: none;
  color: #ff0000;
}

header .menulists a {
  text-decoration: none;
  color: #0000ff;
}

header #toggle {
  display: none;
}

@media only screen and (max-width: 1000px) {

  header .menulists {
    display: none;
  }

  header .menulists li {
    width: 100%;
  }

  header #toggle {
    display: block;
    position: relative;
    width: 100%;
    background: #222;
  }

  header #toggle a {
    display: block;
    position: relative;
    padding: 12px 0 10px;
    border-bottom: 1px solid #444;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }

  header #toggle:before{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
  }

  header #toggle a:before, header #toggle a:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 4px;
    background: #222;
  }

  header #toggle a:before{
    margin-top: -6px;
  }

  header #toggle a:after{
    margin-top: 2px;
  }

}
/******************************************************************
 *********************    AR  start    ****************************
 ******************************************************************/

#ar *
{
    box-sizing: border-box;
}

#ar .container
{
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #5F9EA0;
}

/* #ar .container .block0 */
#ar .block0
{
    width: calc( (100% - 20px - 20px)/2);
    float: left;
    margin: 10px;
    padding: 10px;
}
/* #ar .container .clear0.left */
#ar .clear0.left
{
    clear: left;
}

/* #ar .container .block0.blue */
#ar .block0.blue
{
    background-color: #ADD8E6;
}

/* #ar .container .block0.green */
#ar .block0.green
{
    background-color: #00FF00;
}

/* #ar .container .block0 .block1 */
#ar .block0 .block1
{
    width: calc((100% - 10px - 10px)/2);
    float: left;
    margin: 5px;
    padding: 5px;
}

#ar .end
{
    clear: both;
}


@media only screen and (max-width: 1000px) {
    /* #ar .container .block0 */
    #ar .block0
    {
        width: calc( 100% - 20px - 20px );
    }
}
@media only screen and (max-width: 670px) {
    /* #ar .container .block0 */
    #ar .block0
    {
        width: calc( 100% - 20px - 20px );
    }
    /* #ar .container .block0 .block1 */
    #ar .block1
    {
        width: calc( 100% - 20px - 20px );
    }
    /* #ar .container .block0 .clear1.left */
    #ar .clear1.left
    {
        clear: left;
    }
}
/******************************************************************
 *********************      AR  end     ***************************
 ******************************************************************/
